.gridContainer {
  @include grid-container(
    grid,
    100vh 1fr 0.3fr 0.5fr 0.4fr 0.5fr 30vh,
    "header" "pasos" "carrusel" "experiencias" "informacion" "contacto" "footer"
  );
}

/* *************************NAVBAR************************ */
.header {
  grid-area: header;
  overflow-y: hidden;
  .navbar {
    .collapse {
      .navbar-nav {
        .nav-item {
          a {
            color: $textColor;
            &:hover {
              color: $textHover;
            }
          }
        }
      }
    }
    .container-fluid {
      .navbar-brand {
        img {
          width: 4.5rem;
          border-radius: 50%;
        }
      }
    }
  }
}
/* *************************NAVBAR************************ */

/* *************************HEROIMAGE********************** */
.heroImage {
  background-image: $hrImage;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  .mask {
    .d-flex {
      .text-white {
        h1 {
          margin-top: 30vh;
          font-weight: bold;
          font-size: 3rem;
        }
      }
    }
  }
}

/* *************************HEROIMAGE********************** */

/* *************************PASOS A SEGUIR**************** **/
.pasos {
  grid-area: pasos;
  margin-top: 5rem;
  @include flex-container(flex, column, flex-start, center);
  font-weight: bold;
  figure {
    text-align: center;
    margin-bottom: 6rem;
    img {
      width: 70%;
      height: auto;
      border-radius: 1rem;
    }
  }
}

/* *************************PASOS A SEGUIR**************** **/

/* *************************CARRUSEL*********************** */
.carouselContainer {
  grid-area: carrusel;
}
/* *************************CARRUSEL*********************** */

/* *************************EXPERIENCIAS******************** */
.experiencias {
  grid-area: experiencias;
  .row {
    .opiniones {
      img {
        width: 100%;
        border: 3px solid map-get($map: $borders, $key: whiteBorders);
      }
    }
  }
}

/* *************************EXPERIENCIAS******************** */

/* *************************INFORMACIÓN********************* */
.informacion {
  @include flex-container(flex, column, space-evenly, center);
  grid-area: informacion;
  text-align: center;
}

/* *************************INFORMACIÓN********************* */

/* *************************CONTACTO************************ */
.contacto {
  grid-area: contacto;
  .logoLg {
    img {
      width: 50%;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
  }
  img {
    width: 1rem;
    height: auto;
  }
}

.redes {
  margin-top: 1.5rem;
  img {
    width: 1.5rem;
  }
  a {
    margin-right: 0.5rem;
  }
}

.infoContacto {
  .datos {
    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1rem;
    }
  }
}

/* *************************CONTACTO************************ */

/* *************************FOOTER************************** */
.footer {
  grid-area: footer;
  background-color: $bgColor;
  text-align: center;
  line-height: 1.5rem;
  @include flex-container(flex, column, center, center);
}

/* *************************FOOTER************************** */
